*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  height: 500vh;
 /* background-color: #000;*/
}

body {
  background-color: #414141; /* Cor de fundo cinza claro */
}

.content{
  max-width: 1280px;
  margin:  auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header{
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
}


header.rolagem{
  background-color: #000000;
  padding: 20px 4%;
  z-index: 1000;
}

header.rolagem a{
  color: #ffffff;
}

header i{
  font-size: 30px;
  color: #a03737ff;
  
}

head ul{
  list-style-type: none;
  
}

header ul li{
  display: inline-block;
  margin: 0 40px;
}

header ul li a {
  text-decoration: none;
  color: #ffffffff;
}

.btn-contato button {
  width: 120px;
  height: 40px;
  border: 0;
  background-color: #ac2a2aff;
  cursor: pointer;
  transition: .2s;
}


.banner {
    height: 100vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)) , linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(imagem/fotofundo.jpeg);
  /* Incluindo a imagem de fundo */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
  color: #ffffff;
}
h4 {
  color: #ffffff;
  font-size: 2em; /* Aumenta o tamanho da fonte */
  font-weight: bold; /* Deixa o texto em negrito */
  text-transform: uppercase; /* Converte o texto para letras maiúsculas */
  letter-spacing: 1px; /* Aumenta o espaçamento entre as letras */
  margin: 20px 0; /* Adiciona margem acima e abaixo */
  padding: 10px; /* Adiciona preenchimento ao redor do texto */
  background-color: #2b0202; /* Fundo escuro para destacar o texto */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
}
p{
  color: #ffffff;
}

p2{
  color: #000000;
}


p3{
  color: #ffffff;
  font-size: 1.2em; /* Tamanho da fonte maior */
  font-weight: normal; /* Peso da fonte */
  line-height: 1.6; /* Altura da linha */
 
}
.banner h1{
  font-size: 4em;
  color: #d9d9d9;
}
/* texto animado  */ 

.banner h1 span {
    position: relative;
}

.banner h1 span::before {
    content: "";
    color: #b23434ff;
    animation: palavras 20s infinite;

  text-shadow: 
      -1px -1px 0 black,  
       1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black;
}

.banner h1 span::after{
   content: "";
  position: absolute;
  height: 100%;
  right: -10px;
  opacity: 1;
  animation: cursor 1s infinite;
}



@keyframes palavras {
    0%, 20% {
        content: "deixei o seu cu";
    }
    21%, 40% {
        content: "calzinha preta";
    }
    41%, 60% {
        content: "seu pai ele gosta da coisa grade";
    }
    61%, 80% {
        content: "pau no seu cu";
    }
    81%, 100% {
        content: "calzinha?";
    } 
}


/* image das pessoas */

.img-sobre {
  box-shadow: #000000;
  overflow: hidden;
  height: 450px; /* Altura reduzida para 300px */
  width: 1500px;
}

/* SOBRE */
section.sobre {
    padding: 80px 8%;
}

section.sobre .flex{
    align-items: center;
    gap:60px;
}

.sobre .txt-sobre h3 {
  color: #ffffff;
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h3 span {
    color: #9b1212;
    display: block;
}



/*text*/


.texto{
  height: 0;
  overflow: hidden;
  transition: heigth 0.2s;
}

.visivel{
  height: 45px;
}
/*butom*/

.custom-button {
    background-color: #ac2a2aff; /* Cor de fundo vermelha */
    color: #121212; /* Cor do texto branco */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda */
    cursor: pointer; /* Transforma o cursor em mãozinha quando passa sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
}


/* Cursor de mãozinha */

.black-divider {
    width: 100%; /* Largura total */
    height: 70px; /* Altura do retângulo */
    background-color: black; /* Cor de fundo preta */
}


/*////////////////////////////////////////*/


.curiculo {
  width: 100%;
  background-color: #1d1d1d;
  padding: 150px;
}

.containe {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(75, 18, 18);
  padding: 70px;
}

.content {
 
  display: flex;
  align-items: center;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  border-radius: 2%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.text {
  flex: 2;
  padding: 0 20px;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 0px;
  background-color: #ac2a2aff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.buttons button:hover {
  background-color: #791f1f;
}

/*//////////////////////////footer//////////////////////////////////*/
